<h1 class="mb-3">Todo List</h1>

<div class="d-flex mb-5">
  <input
    type="text"
    class="form-control"
    id="todo"
    placeholder="write a todo..."
  />
  <button type="button" class="btn btn-primary ms-2">Add</button>
</div>

<div>
  <div class="d-flex my-2">
    <div class="d-inline-block mr-auto flex-grow-1 pt-2">
      <i class="bi bi-check-circle-fill text-success"></i>
      Buy Milk
    </div>
    <button type="button" class="btn btn-primary d-inline-block ms-2">
      Complete
    </button>
    <button type="button" class="btn btn-primary d-inline-block ms-2">
      Remove
    </button>
  </div>
  <hr class="m-0" />
</div>
