<div>
    <div class="d-flex my-2">
        <div class="d-inline-block mr-auto flex-grow-1 pt-2">
            <i *ngIf="todoItem.complete" class="bi bi-check-circle-fill text-success"></i>
            <span [class.text-success]="todoItem.complete">
                {{ todoItem.name }}
            </span>
        </div>
        <app-button [label]="'Complete'" (buttonClicked)="completeTodo()"></app-button>
        <app-button [label]="'Remove'" (buttonClicked)="removeTodo()"></app-button>
    </div>
    <hr class="m-0" />
</div>
